.header {
  width: 100%;
  padding: 24px 24px 100px;
}

.header-logo {
  font-family: "Kurale", serif;
  font-size: 12px;
  color: #ff9800;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.logoTitle {
  font-family: "Kurale", serif;
  font-size: 32px;
  margin: 0;
}
