.main-content {
  padding: 24px 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  text-align: left;
  max-width: none;
}

.title {
  font-size: 16px;
  font-weight: 400;
  color: orange;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
