.text-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.text-input label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.text-input input {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0;
  background-color: transparent;
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  box-sizing: border-box;
}

.text-input input::placeholder {
  color: #a5a5a5;
}
